page-home {

	
}
	ion-title {
		text-align: center;  
		font-size: 5px;
	}

	h2 {
		font-family: Georgia, Serif;
		font-color: #1E90FF; 
	}

	p {
		font-family: Georgia, Serif;
		text-align: left;
	}

